package views

templ Form() {
  <form method="POST" action="/process">
    <div>
      <label for="initial_date">Data Inicial:</label>
      <input type="date" id="initial_date" name="initial_date" required>
    </div>
    <div>
      <label for="final_date">Data Final:</label>
      <input type="date" id="final_date" name="final_date" required>
    </div>
    <button type="submit">Enviar!</button>
  </form>
}